# cf. https://expressjs.com/en/advanced/pm.html
# $ cp <this_file> /etc/systemd/system/forte.service
# $ systemctl enable forte.service

[Unit]
Description=Forte

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/tintypemolly/forte/forte-server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Forte
User=tintypemolly
Group=tintypemolly
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
